@import url('https://fonts.googleapis.com/css?family=Poppins:300');

body {
	font-family: 'Poppins', sans-serif;
}

svg {
  display: block;
  margin: 15px auto;  
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.center {
	text-align: center;
}

.expiredLine {
    fill: none;
    stroke: red;
    stroke-width: 3;
}

.activeLine {
    fill: none;
    stroke: blue;
    stroke-width: 3;
}

.circle {
  cursor: pointer;
}

.legend {
  font-size: 0.75em;
}

image {
  overflow: hidden;
}

.filter {
  margin: 5px 0;
}

.hide {
  display: none;
}

.ward-label {
  font-size: 0.5em;
}

.legend {
  font-size: 0.75em;
}

.ward2 {
  cursor: pointer;
}

#svg {
  display: block;
  margin: auto;  
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.tt {
  font-size: 0.75em;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}